@font-face {
    font-family: Eurostile-Black-Regular;
    src: url(fonts/Eurostile-Black-Regular.ttf)
}

@font-face {
    font-family: calc-sans;
    src: url(fonts/calc-sans.otf)
}

@font-face {
    font-family: Digital7;
    src: url(fonts/Digital7-rg1mL.ttf)
}

body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    width: 100px;
    height: auto;
    padding: 10px;
    position: right;
}

#calculator{
    background-color: lightcyan;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    border: 2px solid;
}

#display{
    font-family: Digital7;
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: silver;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: hsl(30, 0%, 100%);
    color: black;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
     background-color: hsl(0, 0%, 80%);
}

button:active{
     background-color: hsl(0, 0%, 40%);
}

.operator-btn{
    background-color: hsl(60, 100%, 50%);
}

.operator-btn:hover{
    background-color: hsl(60, 100%, 40%);
}

.operator-btn:active{
    background-color: hsl(60, 100%, 70%);
}
